#all{
    -fx-background-repeat: repeat;
    -fx-background-position: center center;
}
.button{
    -fx-background-color: rgb(50, 50, 50);
    -fx-text-fill: white;
    -fx-border-color : transparent;
    -fx-border-width: 1px;
    -fx-border-radius:3px;
    -fx-font-family : "System" !important;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}
.button:hover{
    -fx-border-color: white;
}
.toggle-button{
    -fx-background-color: rgb(50, 50, 50);
    -fx-text-fill: gray;
    -fx-border-color : transparent;
    -fx-border-width: 1px;
    -fx-border-radius:3px;
    -fx-font-family : "System" !important;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
}
.toggle-button:hover{
    -fx-border-color: white;
}
.toggle-button:selected{
    -fx-border-color: green;
    -fx-text-fill: white;
}

.menuBnt{
    -fx-background-radius : 0 !important;
    -fx-background-color : white !important;
    -fx-font-size : 1.2em !important;
    -fx-font-weight : bold !important;
    -fx-text-fill: black !important;
    -fx-font-style: italic;
    -fx-border-size: 0px !important;
    -fx-border-radius : 0px !important;
    -fx-border-color: none !important;
    -fx-effect: none !important;
}
.menuBnt .text{
    /* acessa diretamente o texto*/
}
.menuBnt:hover{
    -fx-background-color : #CCC !important;
}
.menuBnt.selected{
    -fx-background-color : #CCC !important;
}

.typeConnectionBnt{
    -fx-background-radius : 0 !important;
    -fx-border-radius : 0 !important;
    -fx-font-size : 1.2em !important;
    -fx-font-weight : bold !important;
    -fx-background-color: rgb(31, 32, 33);
    -fx-border-width: 0 1 0 1;
    -fx-border-color: black;
}
.typeConnectionBnt.selected{
    -fx-border-width: 0 1 0 1;
    -fx-border-color: white;
    -fx-background-color: rgba(30, 30, 30,0.9);
}

#startMenu{
    -fx-background-color : rgba(40, 40, 40, 0.5);
}
#predefMenu{
    -fx-background-color : rgba(40, 40, 40, 0.5);
}
#consoleMenu{
    -fx-background-color : rgba(20, 20, 20, 0.9);
}
#configMenu{
    -fx-background-color : rgba(100, 100, 100, 0.5);
}

#usbNavigator{
    -fx-background-color: rgba(30, 30, 30,0.9);
}
#wifiNavigator{
    -fx-background-color: rgba(30, 30, 30,0.9);
}
.choice-box{
     -fx-background-color: rgb(50, 50, 50);
     -fx-mark-color: white;
     -fx-border-color : transparent;
     -fx-border-radius : 0px;
     -fx-background-radius: 0px;
     -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 3, 0, 0, 0);
}
.choice-box:hover{
    -fx-border-width:1px;
    -fx-border-color: white;
}
.choice-box > .label {
    -fx-text-fill: white;
 }

.labelText{
     -fx-text-fill: white;
     -fx-font-family : "System" !important;
     -fx-font-size : 1.3em;

  }

  .text-field{
      -fx-background-color: rgb(50, 50, 50);
      -fx-text-fill: white;
      -fx-border-color : transparent;
      -fx-border-width: 1px;
      -fx-border-radius:3px;
      -fx-font-family : "System" !important;
      -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
  }

// Background color of the whole context menu
.choice-box .context-menu { -fx-background-color: rgb(30, 30, 30); }
// Focused item background color in the list
.choice-box .menu-item:focused { -fx-background-color: white; }
// Text color of non-focused items in the list
.choice-box .menu-item > .label { -fx-text-fill: white; }
// Text color of focused item in the list
.choice-box .menu-item:focused > .label { -fx-text-fill: black; }

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :rgb(20,20,21);
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :0.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 2.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 2.0 0.0 0.0;
}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : white;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :white;
}
